In [14]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.linear_model import LinearRegression
import pandas as pd

#  Import and read the charity_data.csv.
import pandas as pd 
house_info = pd.read_csv("Resources/Provisional database.csv")
house_info.head()

,House Name,Bedroom,Living Room,Size (m2),"Total Price (￥10,000)",Unit Price (￥/m2),Subway
0,蔚蓝城市花园,3,2,123.31,1128,91477,0
1,高境一村,1,1,42.54,219,51481,1
2,开鲁路382弄,1,1,41.54,245,58980,1
3,保利铃兰公馆,3,2,119.87,750,62568,0
4,馨佳园(菊盛路851弄),2,2,75.85,361,47594,0

In [28]:
X = pd.get_dummies(house_info[['House Name']])
X['Bedroom'] = house_info['Bedroom']
X['Living Room'] = house_info['Living Room']
X['Size (m2)'] = house_info['Size (m2)']
X['Subway'] = house_info['Subway']
y = house_info['Total Price (￥10,000)']

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=2)

In [34]:
scaler = MinMaxScaler()

cols_to_norm = ['Bedroom','Living Room','Size (m2)']

X_train[cols_to_norm] = scaler.fit_transform(X_train[cols_to_norm])
X_test[cols_to_norm] = scaler.transform(X_test[cols_to_norm])

C:\Users\16478\anaconda3\lib\site-packages\pandas\core\frame.py:3673: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
C:\Users\16478\anaconda3\lib\site-packages\pandas\core\frame.py:3673: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [35]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [32]:
print(lr_model.score(X_train, y_train))
print(lr_model.score(X_test, y_test))

1.0
0.5785728008775447